@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
}

nav {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 15px 0 35px 0;
    width: 100vw;
}

input {
    height: 28px;
}

h1 {
    color: rgba(134, 38, 89, .7)
}
#tam-sec {
    width: 80vw;
    height: 80vw;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

}

#tam-window {
    background-color: rgba(193, 190, 185, .7);
    box-shadow: 5px 6px darkgrey;
    border: 2px solid rgba(193, 190, 185, .9);
    border-radius: 18px 18px 80px 18px ;
    height: 800px;
    width: 650px;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#on-light{ 
    position: relative;
    display: block;
    background-color: lightgreen;
    border: 2px solid rgba(193, 190, 185, .9);
    border-radius: 0 12px 12px 0;
    height: 20px;
    width: 50px;
    left: -300px;
    top: 45px;
}

#off-light {
    position: relative;
    display: block;
    background-color: darkgrey;
    border: 2px solid rgba(193, 190, 185, .9);
    border-radius: 0 12px 12px 0;
    height: 20px;
    width: 50px;
    left: -300px;
    top: 90px;
}

#tam-game {
    border: 3px solid #2F3130;
    border-radius: 12px;
    background-color: #8B868C;
    height: 450px;
    width: 450px;
    z-index: 1;
}

.game-control {
    border: 2.5px solid #2F3130;
    border-radius: 12px;
    height: 50px;
    width: 450px;
    margin: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background-color: rgba(193, 190, 185, .5);
}

#tam-screen {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    align-items: center;
    
}

.tam-screen-btm {
    width: 450px;
    height: 80px;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

#name-stat {
    text-align: center;
}

#blob {
    grid-column: span 3;
    width: 100%;
    height: 100%;

    background-image:url('./assets/DinoSprites_vita.gif');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    border-top: 2px solid #2F3130;
    border-bottom: 2px solid #2F3130;

    background-color: rgba(139, 158, 91, .7);
}

.game-stat {
    font-size: 0.725em;
    text-shadow: 1px 1px lightgrey;
    color: white;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 12px;
}

.game-btn {
    font-size: 0.688em;
}

button {
    color: rgb(47, 49, 48);
    padding: 7px;
    border-radius: 12px;
    background-color: rgba(193, 190, 185, .5);
}

button:hover {
    cursor: pointer;
    background-color: rgba(193, 190, 185, 1);
}

span {
    padding-top: 6px;
}

h6 {
    color: #646083;
    font-style: italic;
}


