@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
}
nav {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 10px 0 10px 0;
    width: 100vw;
}

#tam-sec {
    width: 90vw;
    height: 80vw;
    /* border: 2px solid black; */

    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

}

#tam-window {
    border: 2px solid red;
    height: 650px;
    width: 650px;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#tam-game {
    border: 2px solid blue;
    height: 450px;
    width: 450px;
}

.game-control {
    border: 2px solid green;
    height: 50px;
    width: 450px;
    margin: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

#tam-screen {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    align-items: center;
}

#blob {
    grid-column: span 3;
    /* border: 2px solid orange;s */
    width: 100%;
    height: 100%;

    background-image:url('./assets/plumber-svgrepo-com.svg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.game-stat {
    font-size: 0.625em;
    /* border: 2px solid black; */
}

.game-btn {
    font-size: 0.688em;
    padding: 7px;
    border-radius: 12px;
}